<html>
 <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<body>
<form action= "{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'POST'>

<p>Name:</p>
<input type = 'text' size='30' name = 'name' value = '{{item.name}}'>
<p>description:</p>
<input type = 'text' size='30' name = 'description' value = '{{item.description}}'>
<p>price:</p>
<input type = 'text' size='30' name = 'price' value = '{{item.price}}'>

<input type='submit' value='Submit'>
</form>
<a href= '{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}'>Cancel</a>
</body>
</html>